@media all and (max-width: 375px){
   
    .container{
        flex-direction: column;
        align-items: flex-start;
    }
    nav{
        background-color: white;
        border-radius: 10px;
        height: 0;
        width: 100%;
        overflow: hidden;
        }
    
    li{
        display: block;
        text-align: left;
        padding: 0.8rem 1rem;
    }
    li a{
        font-size: 1.2rem;
        color: #000000;
    }
    .nav-toggle{
        display: block;
    }

   /* .nav-toggle.active .bar:nth-child(2){
        opacity: 0;
    }
    .nav-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .nav-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }*/
    hr{
        display: block;
        color: #fafafafa;
    }
}